<!doctype html>
<html lang="de">
<head>
  <meta charset="utf-8">
  <title>DARC Essen-Mitte L11 Weihnachtsessen</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="container my-4">
  {% block content %}{% endblock %}
  <footer class="text-center mt-4">
    <p>&copy; {{ current_year }} - Erik Schauer - <a href="mailto:do1ffe@darc.de">do1ffe@darc.de</a></p>
  </footer>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
